<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true" parallel="classes" thread-count="2">
<!-- 	<listeners>
		<listener
			class-name="com.test.automation.uiAutomation.config.EmailReport"></listener>
	</listeners> -->
	<test name="Test">

		<classes>
			<class
				name="com.test.automation.uiAutomation.homePage.TC001_VerifySuccessfulLogin" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
